
html{
    width: 95%;
    height: 2000px;
    background-color:white ;
}
h1{
 text-align: center;
}
h2{
 text-align: center;
}
body{
    width: 95%;
    height: 1500px;
    background-color: rgb(54, 34, 34);   
    
    padding-left:40px ;
      padding-right:40px ;   
}
main{
    width: 90%;
    height: 200px;
    background-color: rgb(77, 44, 44);
    
    padding-left:40px ;
      padding-right:40px ;
   
}
div{
    width: 90%;
    height: 700px;
    background-color: rgb(119, 72, 72);
   
    padding-left:40px ;
      padding-right:40px ;
}
section{
   width: 90%;
   height: 120px;
   background-color: rgb(230, 166, 166) ;
   
   padding-left:40px ;
      padding-right:40px ;
}
footer{
 width: 90%;
   height: 200px;
   background-color: rgb(77, 44, 44); 
   padding-left:40px ;
      padding-right:40px ;   
}
img{
   padding-left:30px ;
      padding-right:30px ;
}